img {
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

.hide {
  display: none;
}

.landing {
  position: relative;
  background: url('./img/2018-08-19.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 126px);
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 110px;
  padding-bottom: 20px;
}

.page-content {
  min-height: calc(100vh - 202.5px);
  padding-top: 50px;
}

.card-header {
  height: 300px;
  position: relative;
  background: url('./img/Marquee_2019-05-01.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  padding-top: 100px;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

.login {
  min-height: calc(100vh - 126px);
  position: relative;
  background: url('./img/2016-09-16.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -24px;
  margin-bottom: -50px;
}

.register {
  min-height: calc(100vh - 126px);
  position: relative;
  background: url('./img/2018-05-02.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -24px;
  margin-bottom: -50px;
}

.lead {
  padding-bottom: 1rem;
  padding-top: .3rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-handle {
  padding-left: 10px;
  font-weight: 600;
  font-size: 1.4rem;
}

.card-form {
  opacity: 0.9;
}

.bg-info-profile {
  background-color: #353535;
  background: url('./img/Marquee_2018-08-15.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-heading {
  font-size: 1.5rem;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.btn-info {
  color: #fff;
  background-color: #408DBD;
  border-color: #408DBD;
}

.btn-info:hover {
  color: #fff;
  background-color: #33739a;
  border-color: #33739a;
}

.btn-info:active {
  color: #fff;
  background-color: #33739a!important;
  border-color: #33739a!important;
}

.btn-info:focus {
  color: #fff;
  background-color: #408DBD;
  border-color: #408DBD;
  box-shadow: 0 0 0 0.2rem rgba(64,141,189,.5);
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #cecece;
  border-color: #dae0e5;
}

.bg-main {
  background-color: #5495bd;
}

.bg-sec {
  background-color: #303030;
}

small.form-text.text-muted {
  color: #c5c6c7!important;
}

.btn {
  margin-bottom: 20px;
}
