img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/2018-04-30.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 86vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.btn-info {
  color: #fff;
  background-color: #8a3c3b;
  border-color: #8a3c3b;
}

.btn-info:hover {
  color: #fff;
  background-color: #702d2d;
  border-color: #702d2d;
}

.btn-info:focus {
  color: #fff;
  background-color: #8a3c3b;
  border-color: #8a3c3b;
  box-shadow: 0 0 0 0.2rem rgba(138,60,59,.5);
}

.bg-rust {
  background-color: #572323;
}

.bg-brick {
  background-color: #BD4B4B;
}